
# Gemini Config
GEMINI_API_KEY=

# OpenAI Config
OPENAI_API_KEY=

# Ollama Config
# OLLAMA_API_BASE=http://localhost:11434/v1
# OLLAMA_GENERATION_MODEL=
# OLLAMA_EMBEDDING_MODEL=nomic-embed-text
# OLLAMA_READ_TIMEOUT=300
